body
{
    background-color: rgb(37, 37, 37);
    margin: 0;
    padding: 0;
    height: 100%;
}

.snn
{
    position: relative;
}
.ssn img
{
    width: 100%;
    height: 755px;
    object-fit: cover;
}
.ssn_text
{
    color: rgb(217, 217, 217);
    position: absolute;
    margin-bottom: 7px;
}

header
{
    display: flex;
    background-color:  rgb(217, 217, 217);
    align-items: center;
    height: 60px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 5px 10px #252525;

}

.right
{
    display: flex;
    margin-left: auto;
}
.search
{
    display: flex;
    border: 2px solid #000;
    margin-right: 20px;
    padding: 5px 100px 2px 2px;
    border-radius: 34px;
    font-family: 'Kantumruy Pro', sans-serif;
}

#about 
{
    list-style: none;
    
    font-family: 'Kantumruy Pro', sans-serif;
    display: flex;
    align-items: center;
    line-height: 60px; 
    position:absolute;
    float:right;
    left: 45%;
    transform: translateX(-50%);
    
}
#about li {
    list-style: none;
    margin-right: 10px;
    color: #252525;
    text-decoration: none;
    font-size: 1.5vw;
    padding-right: 6%;
    padding-left: 6%; 
    transition: 0.2s;
}
#about a 
{
    text-decoration: none;
    color: #252525;
}
#about a:hover
{
    text-decoration: none;
    color: rgb(217, 217, 217);
}
#about > li:hover 
{
    background-color: rgb(212, 20, 90);
    transform: scale(1.2);
    border-radius:10px;
}
#about li:hover>a
{color: rgb(217, 217, 217);}


#about li ul li
{
    background-color: #D4145A;
    border-radius:10px ;
    color: rgb(217, 217, 217);
    font-size: 1vw;
    position: absolute;
    left: 0;
    display: none;
    line-height: 2vh;
}
#logo{transition: 0.2s;}
#logo:hover
{transform: scale(1.2); }
 
#about li:hover>ul li
{
    display: initial;}


/* card1 */
.card1
{
    color: rgb(217, 217, 217);
    display: flex;
    margin-right: 18%;
    margin-left: 18%;
    background: #D4145A;
    height: 40vh;
    text-align: right;
    font-family: 'Kantumruy Pro', sans-serif;
    border-radius: 30px;
    justify-content:center ;
}
.pic img
{
    border-radius: 0px 30px 30px 0px;
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}
.pic1 img
{
    border-radius: 30px 0px 0px 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_txt_in_card
{
    text-transform: uppercase;
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    margin: 0px 1% 0px 5%;
}
.not_main_txt_in_card
{
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    margin-left: 5%;
    margin-right:1%;
}

/* card2 */
.card2
{
    color: rgb(217, 217, 217);
    display: flex;
    margin-right: 18%;
    margin-left: 18%;
    margin-top: 42px;
    background: rgba(28, 48, 71, 0.70);
    height: 40vh;
    text-align: left;
    font-family: 'Kantumruy Pro', sans-serif;
    border-radius: 30px;
    justify-content:center ;
}
.main_txt_in_card_right
{
    text-transform: uppercase;
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    margin: 0px 5% 0px 1%;
}
.not_main_txt_in_card_right
{
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    margin-left: 1%;
    margin-right: 5%;
}

/* card3 */
.card3
{
    margin-top: 42px;
    color: rgb(217, 217, 217);
    display: flex;
    margin-right: 18%;
    margin-left: 18%;
    background: #D4145A;
    height: 40vh;
    text-align: right;
    font-family: 'Kantumruy Pro', sans-serif;
    border-radius: 30px;
}

.line
{
    height: 2px;
    background: rgb(217, 217, 217);
    align-items: center;
    margin: 0 15% 1% 15%;
}

.contact_us
{
    background-color: rgba(28, 48, 71, 0.70);
    display: flex;
    flex-direction: column;
    margin-right: 18%;
    margin-left: 18%;
    margin-top: 42px;
    margin-bottom: 42px;
    border-radius: 30px;
    color:rgb(217, 217, 217);
    font-family: 'Kantumruy Pro', sans-serif;
}
.contact_us .cu_labels .cu_label pre a
{
    text-decoration: none;
    color: rgb(217, 217, 217);
}
.contact_us_text
{
    align-items: center;
    text-align: center; 
}
.cu_text
{
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
}
.cu_subtext
{
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 5% 5% 5%;
}

.cu_labels
{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: row;

}
pre
{
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.cu_label
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 100%;
}
.contact_us img
{
    width: 50%;
    height: 50%; 
    object-fit: cover; 
}

.gh
{

}
.help_b
{
    width: 100%;
    text-align: center;

}
.help_b a
{
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    font-family: 'Kantumruy Pro', sans-serif;
    
    color: #D4145A;
    background-color: #1C3047;
    transition: 0.2s;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    margin-right: 38%;
    margin-left: 38%;
    margin-top: 42px;
    margin-bottom: 42px;
    border-radius: 30px;
}

.help_b a:hover
{transform: scale(1.2);}

.gh
{
    display: flex;
    font-size: 6vw;
    text-transform: uppercase;
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 800;
    justify-content: center;
}
.gh1
{
    color: rgb(217, 217, 217);
}
.gh2
{
color:#D4145A;
}
/* база */



/* gpt */
.close_b
{
    margin-top: 10px;
    cursor: pointer;
}
.side-bar.show
{
    left: 0;
}
.side-bar
{
    background-color: rgb(217, 217, 217);
    position: fixed;
    top: 0;
    right: 0; 

    left: -250px;

    width: 250px;
    height: 100%; 
    box-sizing: border-box;
    list-style:none;
    text-align: center;
    font-family: 'Kantumruy Pro', sans-serif;
    text-decoration: none;
    
    transition: left 0.4s ease;
}
.side-bar li a
{
    list-style: none;
    color: #252525;
    text-decoration: none;
    border:1px;
    
}
.side-bar li ul li 
{
    list-style: none;
    color: rgb(217, 217, 217);
}


.side-bar li {
    list-style: none;
    margin-right: 10px;
    color: rgb(217, 217, 217);
    text-decoration: none;
    font-size: 24px;
    padding-right: 6%;
    padding-left: 6%; 
    transition: 0.2s;
}
.side-bar a 
{
    text-decoration: none;
    color: rgb(217, 217, 217);
}
.side-bar a:hover
{
    text-decoration: none;
    color: rgb(217, 217, 217);
}
.side-bar > li:hover 
{
    background-color: rgb(212, 20, 90);
    border-radius: 30px;
    transform: scale(1.2);
}
.side-bar li:hover>a
{color: rgb(217, 217, 217);}


.side-bar li  ul 
{
    border-radius: 0 0 30px 30px;
    color: rgb(217, 217, 217);
    font-size: 1vw;
    left: 0;
    display: none;
}
nav li .nt_show.show
{
    display: block;
}
nav li .w_show.show
{
    display: block;
}
nav li .m_show.show
{
    display: block;
}
nav li .k_show.show
{
    display: block;
}

.liked img
{
    width: 30px;
    height: 30px;
    background-size: cover;
    transition: background-image 0.3s ease-in-out;
}
.liked img{background-image:url('icons/srdce.svg');}
.liked img:hover {background-image: url('icons_png/srdce_pressed.png');}


.account img
{
    width: 30px;
    height: 30px;
    background-size: cover;
    transition: background-image 0.3s ease-in-out;
}
.account img{background-image:url('icons_png/acc.png');}
.account img:hover {background-image: url('icons_png/acc_pressed1.png');}



.footer
{
display: flex;
background-color: rgb(217, 217, 217);
margin-top: 42px;
}
.left
{
display: flex;
flex-direction: column;
opacity: 0.8;
font-family: 'Kantumruy Pro', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
margin-top: 3px;
}
.right1
{
    margin-left: auto;
    margin-right: 5px;
    margin-top: 3px;
    opacity: 0.5;
}








/* help */
.up_but
{
    position: fixed;
   bottom: 50px;
   z-index: 1000;
   display: none;
}
/* help */


.scrolling-text-container {
    margin-top: 60px;
    overflow: hidden;
    white-space: nowrap;

    background-color: #D4145A;
    font-weight: 400;
    font-family: 'Kantumruy Pro', sans-serif;
    color: rgb(217, 217, 217);
    font-size: 2vh;
    text-transform: uppercase;
}

#scrolling-text {
    animation: scrollText 13s linear infinite;
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.loc
{
    font-size: 2vh;
    text-transform: uppercase;
    font-family: 'Kantumruy Pro', sans-serif;
    margin-left: 18%;
    color: rgb(217, 217, 217);
    margin-top: 2vh;
}
.new_Trends
{
    background: rgba(28, 48, 71, 0.70);
}
.new_Trends_in
{
    display: flex;
    margin-right: 18%;
    margin-left: 18%;
    margin-top: 42px;
}
.new_Trends img
{
    border-radius: 30px;
    box-shadow: 0 5px 10px #252525;
    width: 15vw;
    height: 30vh; 
    object-fit: cover;
    margin-bottom: -10%;
 
}
.nt_text
{
    text-align: center;
    margin-left: 5vw;
    margin-top: 3vh;
    text-transform: uppercase;
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 500;
    text-align: left;
    line-height: 8vh;
}
.nt1
{
    color: rgb(217, 217, 217);
    font-weight: 600;
    font-size: 6vh;
}
.nt2
{
    color: #D4145A;
    font-weight: 600;
    font-size: 10vh;
}
.nt3
{
    color: rgb(217, 217, 217);
    font-weight: 600;
    font-size: 10vh;
}
.nt4
{
    color: #D4145A;
    font-weight: 600;
    font-size: 10vh;
}
.nt5
{
    background-color: #D4145A;
    color: rgb(217, 217, 217);
    text-align: center;
    font-weight: 600;
    font-size: 3vh;
    align-items: center;
}
.p2
{
    margin-left: 3vw;
    position: relative; 
    top: -10vh;
}
.pics
{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}
.ptd {
    transform: translateY(-20px); 
}


.cards
{
    margin-top: 42px;
}
.card
{
    background-color: rgb(217, 217, 217);
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    border-radius: 15px;
    
}
.description{text-align: center;}
.card img
{
    border-radius: 45px;
    box-shadow: 0 5px 10px #252525;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 250px;
}
.card .description
{
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #1C3047;
    
}
.card .price_b
{
    margin-top: 3%;
    margin-bottom: 3%;
    width: 200px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    background-color: #D4145A;
    border-radius: 34px;
    color: rgb(217, 217, 217);
    font-family: 'Kantumruy Pro', sans-serif;
    text-align: center;
    transition: 0.2s;
}
.card .price_b:hover
{transform: scale(1.2); }


.description,
.price_b {
    margin-top: 10px;
}
.card{transition: 0.2s;}
.card:hover{transform: scale(1.2); }

.up_but{transition: 0.2s;}
.up_but:hover{transform: scale(1.2); }

.cards .container
{
 width: 100%;
 max-width: 1000px;
 padding: 0 auto;
 margin: 0 auto;
}
.container_cards
{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 225px);
   justify-content: center;
   justify-items: center;

   margin: 0 auto;
   column-gap: 150px;
   row-gap: 40px;
}
.cards
{
    margin-right: 18%;
    margin-left: 18%;
}

.women_str
{
    margin-top: 100px;
    margin-bottom: 40px;
}

.line1
{
    height: 2px;
    background:#D4145A;
    align-items: center;
    margin: 0 18% 1% 18%;
}
.pattern
{
    background-color: #1C3047;
    text-align: left;
    color:#D4145A;
    font-family: 'Kantumruy Pro', sans-serif;
    
    
}
.pat_txt1
{
margin-left: 18%;
font-size: 3vw;
font-weight: 700;
margin-right: 18%;
}
.pat_txt2
{
margin-left: 18%;
font-size: 1.5vw;
font-weight: 400;
margin-right: 18%;
color:rgb(217, 217, 217);
}
.mainstr{margin-top: 102px;}


.logo_big
{
    margin-top: 102px;
    text-align: center;
}
form {
    background-color:#1C3047;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    font-family: 'Kantumruy Pro', sans-serif;
    margin-left: 28%;
    margin-right: 28%;
    color: rgb(217, 217, 217);
    font-size: 2vw;
}

label {
    display: block;
    margin-bottom: 8px;
    background-color: #1C3047;
}
input
{
    border-radius: 15px;
    background-color: #1C3047;
    color: rgb(217, 217, 217);
    font-size: 1vw;
    border: 3px solid rgb(217, 217, 217); 
}
input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #1C3047;
    color: rgb(217, 217, 217);
    font-size: 1vw;
    border: 3px solid rgb(217, 217, 217); 
}
#agr1
{
    font-size: 20px;
    margin-right: 15%;
}
button {
    background-color: #D4145A;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    font-size: 3vw;
    margin: 0 auto;
    transition: 0.2s;
}
button:hover {
    background-color: #D4145A;
    transform: scale(1.2);
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

input[type="checkbox"] {
    transform: scale(2.5); 
    accent-color: #D4145A;
}


.popup-bg
{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: rgba(0,0,0,0.8);
    display: none;
}
.popup
{

    position: absolute;
    top:50%;
    left: 50%;
    width: 40vw;
    background-color: #D4145A;
    transform: translate(-50%,-50%);
    padding-top: 60px;
    border-radius: 30px;
    font-size: 30px;
    text-align: center;
    font-family: 'Kantumruy Pro', sans-serif;
    color: rgb(217, 217, 217);
    font-size: 40px;
}
.regs
{
    text-transform: uppercase;
    margin-bottom: 40px;
   
}
.close-popup
{
    border: 3px solid rgb(217, 217, 217);
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    transition: 0.2s;
}
.close-popup:hover{ transform: scale(1.2);}

@media (max-width: 1050px) {
    .checkbox-container
    {
        margin-left: 3%;
        margin-right: 3%;
    }
    .search{width: 20px;}
    .popup{font-size: 18px;}
    form{font-size: 20px;}
    input{font-size: 20px;}
    input, select{font-size: 20px;}
    #agr1
    {
        font-size: 14px;
        margin-right: 1%;
    }
    .p1
    {
        display: none;
    }
    .p2
    {
        display: none;
    }
    .nt_text{text-align: center;}
    .new_Trends_in
    {
        margin-right: 5%;
        margin-left: 1%;
        
        height: auto;  
        padding-left: 15vw;
    }
    .new_Trends img
    {
        width: 14vw;
        height: 10vh; 
        object-fit: cover;
        margin-bottom: 20px;
    }
    .new_Trends .pics
    {
        display: flex;
        height: auto;
        padding-top: 20%;
        height: 160px;
    }
    .nt1, .nt3
    {
        font-size: 3vh;
    }
    .nt2, .nt4
    {
        font-size: 5vh;
    }
    .nt5
    {
        font-size: 1.5vh;
    }
    .nt_text{line-height: 4vh;}
    .card1, .card2, .card3 {
        margin-right: 5%;
        margin-left: 5%;
        height: auto; 
    }
    .delyvery a, .payment a, .returns a, .yoclub a
    {
        font-size: 20px;
    }
    .help_b
    {
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .help_b a
    {
        height: 60px;
        justify-content: center;
        text-align: center;
        margin-right: 5%;
        margin-left: 5%;
    }
.cu_label pre a 
{
    text-decoration: none;
    color: rgb(217, 217, 217);
}
    .pic img {
        border-radius: 0px 30px 30px 0px; 
        width: 100%; 
        height: 100%; 
        object-fit: cover;
    }
    .pic1 img{
        border-radius: 30px 0px 0px 30px; 
        width: 100%; 
        height: 100%; 
        object-fit: cover;
    }

    .main_txt_in_card,
    .not_main_txt_in_card,
    .not_main_txt_in_card_right,
    .main_txt_in_card_right {
        font-size: 16px; 
        margin: 0 5px; 
    }
    .contact_us
    {
        margin-right: 5%;
        margin-left: 5%;
        height: auto; 
    }
    .contact_us img
    {
        width: 50%; 
        height: 50%; 
        object-fit: cover;
    }
    .cu_subtext{font-size: 16px;}
    .cu_text{font-size: 20px;}
    .line{height: 1px;}
    #about{display: none;} 
    .search
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .pat_txt1{font-size: 45px;}
    .pat_txt2{font-size: 25px;}
}
@media (min-width: 1051px)
{
    .burger{display: none;}
    .side-bar
    {display: none;}
}
    
